.video-notes-wrapper {
	/* background-color: #7700ff20; */
	border: 2px solid green;

	position: absolute;
	pointer-events: none;
	z-index: 999;

	/* width: 100px;
	height: 100px; */
	top: 400px;
	left: 200px;
}
.video-notes-wrapper > * {
	pointer-events: auto;
}

.add-notes-button {
	position: relative;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	text-align: center;
}

.video-note {
	border: 2px solid red;
	width: 100px;
	height: 100px;
	background-color: #836d6d20;

	position: absolute;
}
